    <div class="wrapper">  
        <section data-ng-include=" 'app/views/website/header.html' "></section>      
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=" nav-item"><a href="#/index">Home</a></li>
                        <li class=" nav-item"><a href="#/AboutUs">About Us </a></li>
                        <li class="active nav-item dropdown" >
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Courses <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" >
                                <li ng-repeat ="course in GetCourse"><a href="#/Courses">{{course.CourseName}}</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="#/News">New & Events</a></li>

                        <li class="nav-item"><a href="#/contact">Contact Us</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </div><!--//container-->
        </nav><!--//main-nav-->
        <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">Course List</h1>
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">
                        <li class="breadcrumbs-label">You are here:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">Course List</li>
                    </ul>
                </div><!--//breadcrumbs-->
            </header>
            <div class="page-content">
                <div class="row page-row">
                    <div class="courses-wrapper col-md-8 col-sm-7">
                       

                        <div class="course-item-header row-divider hidden-sm hidden-xs">
                            <div class="row">
                                <div class="col-title col-md-4 col-sm-6"><strong>Course name</strong></div>
                                <div class="col-meta col-md-8 col-sm-6">
                                    <div class="row">
                                        <div class="col-start col-md-3"><strong>Course Fee</strong></div>
                                        <div class="col-duration col-md-2"><strong>Duration</strong></div>
                                        <div class="col-level col-md-3"><strong>Semester</strong></div>
                                        <div class="col-location col-md-4"><strong>Descreption</strong></div>
                                    </div>
                                </div><!--//col-meta-->
                            </div><!---//row-->
                        </div><!--//course-item-header-->
                        <article class="course-item row-divider" ng-repeat="course in GetCourse">
                            <div class="details row">
                                <div class="col-title col-md-4 col-sm-6"><a>{{course.CourseName}}</a></div>
                                <div class="col-meta col-md-8 col-sm-6">
                                    <div class="row">
                                        <div class="col-start col-md-3">{{course.CourseFee}} &nbsp;.00&nbsp;<i class="icon-inr" style="color:blue"></i></div>
                                        <div class="col-duration col-md-2">{{course.Duration}}</div>
                                        <div class="col-level col-md-3">{{course.NumberOfsemester}}</div>
                                        <div class="col-location col-md-4">{{course.Description}}</div>
                                    </div>
                                </div><!--//col-meta-->
                            </div><!--//details-->
                        </article><!--//course-item-->
                      

                     
                    </div><!--//courses-wrapper-->
                    <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                        <section class="widget has-divider">
                            <h3 class="title">Apply Online</h3>
                            <p>Apply online and get a chanse to win the price</p>
                            <p class="promo-badge">
                                <a class="FireBush" href="#/Register">
                                    <span class="percentage">10% <span class="off">OFF</span></span>
                                    <br>
                                    <span class="desc">Online application</span>
                                </a>
                            </p>
                        </section><!--//widget-->
                        <section class="widget has-divider">
                            <h3 class="title">Download Prospectus</h3>
                            <p>Donec pulvinar arcu lacus, vel aliquam libero scelerisque a. Cras mi tellus, vulputate eu eleifend at, consectetur fringilla lacus. Nulla ut purus.</p>
                            <a class="btn btn-theme" href="http://themes.3rdwavemedia.com/college-green/1.5.1/courses.html#"><i class="fa fa-download"></i>Download now</a>
                        </section><!--//widget-->
                       

                    </aside>
                </div><!--//page-row-->
            </div><!--//page-content-->
        </div>
       
    </div>
        <style>
            .wrapper:after {
               height:0px !important;
            }
        </style>
        <section data-ng-include=" 'app/views/website/Footer.html' "></section>   
</div>
    