<header class="header">
    <div class="top-bar">
        <div class="container" style="height:4px">
        </div>
    </div><!--//to-bar-->
    <div class="header-main container">
        
        <h1 class="logo col-md-1 col-sm-1">
            <a href="index.html"><img id="logo" src="app/images/logo.png" class="img-responsive" style="width: 66px;" alt="Logo"></a>
        </h1><!--//logo-->
        <div class="info col-md-11 col-sm-11">
            <ul class="menu-top navbar-left hidden-xs">
                <li ><a href="#/index" style="font-size: 23px;">
                         <span class="divider">SHAHEED BHAGAT SINGH COLLEGE OF EDUCATION & SCIENCES &nbsp;</span>  </a></li>     
            </ul>
            <ul class="menu-top navbar-right hidden-xs">
                <li class="divider"><a href="#/index">Home</a></li>
                <!--<li class="divider"><a href="faq.html">FAQ</a></li>-->
                <li><a href="#/Admin/login">Admin</a></li>
            </ul><!--//menu-top-->
            <br />
            <div class="contact pull-right">
                <p class="phone"><i class="fa fa-globe"></i>Affiliated to BU Bhopal</p>
                <p class="phone"><i class="fa fa-phone"></i>Call us today 07561-275474</p>
                <p class="email"><i class="fa fa-envelope"></i><a href=""> sbscollege@sbscichhawar.in</a></p>
            </div><!--//contact-->
        </div><!--//info-->
    </div><!--//header-main-->
</header>