

    <div class="wrapper">
       
        <!-- ******HEADER****** -->
        <section data-ng-include=" 'app/views/website/header.html' "></section>
        <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=" nav-item"><a href="#/index">Home</a></li>
                        <li class=" nav-item"><a href="#/AboutUs">About Us </a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Courses <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/Courses">Course 1</a></li>
                                <li><a href="#/Courses">Course 2</a></li>
                                <li><a href="#/Courses">Course 3</a></li>
                                <li><a href="#/Courses">Course 4</a></li>

                            </ul>
                        </li>

                        <li class="active nav-item"><a href="#/News">New & Events</a></li>

                        <li class="nav-item"><a href="#/contact">Contact Us</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </div><!--//container-->
        </nav><!--//main-nav-->
        <!-- ******CONTENT****** -->
      
        <!-- ******CONTENT****** -->
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">News</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">News & Events</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header>
                <div class="page-content">
                    <div class="row page-row">
                        <div class="news-wrapper col-md-8 col-sm-7">
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-1.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="">Morbi bibendum consectetuer vulputate sollicitudin</a></h3>
                                    <p>Morbi bibendum consectetuer, vulputate, sollicitudin, primis ullamcorper vulputate sed risus dis feugiat vel gravida, class enim Mus aliquam ut donec sodales bibendum rutrum dis sit rutrum id eleifend. Dapibus potenti.</p>
                                    <a class="btn btn-theme read-more" href="">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-2.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="">Aenean eleifend ornare nisi id molestie</a></h3>
                                    <p>Donec feugiat enim sit amet nisl scelerisque, at sodales eros ullamcorper. Vestibulum nisi nisi, mattis sit amet elementum tincidunt, auctor vel metus. Morbi posuere elit mauris, eu cursus velit faucibus varius. Vestibulum dapibus massa arcu, sed vulputate enim suscipit eget. Mauris euismod orci magna. Nullam et lacinia dui. Sed massa neque, auctor sed nibh vel, congue adipiscing justo.</p>
                                    <a class="btn btn-theme read-more" href="">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-3.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="">Quisque venenatis consequat commodo</a></h3>
                                    <p>Curabitur bibendum gravida odio, nec tempus libero varius ut. Nullam augue nibh, posuere nec pretium in, sagittis id magna. Aenean tellus augue, fermentum a purus vitae, adipiscing accumsan enim. Curabitur in leo vel sapien egestas laoreet vitae quis est. Fusce malesuada nulla et elit dictum, et porttitor turpis blandit.</p>
                                    <a class="btn btn-theme read-more" href="">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-4.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href="">Donec feugiat enim sit amet nisl scelerisque</a></h3>
                                    <p>Vivamus faucibus ullamcorper nunc, non vulputate neque vulputate nec. Vivamus ut ante a diam scelerisque consequat. Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio.</p>
                                    <a class="btn btn-theme read-more" href="">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-5.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href=" ">Ut eleifend dapibus ligula a ornare</a></h3>
                                    <p>Sed hendrerit scelerisque posuere. Sed eu ipsum cursus, vulputate augue nec, lobortis felis. Integer pellentesque rhoncus metus, non aliquet urna pharetra sed. Quisque ultrices justo egestas urna condimentum accumsan.</p>
                                    <a class="btn btn-theme read-more" href=" ">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <article class="news-item page-row has-divider clearfix row">
                                <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                                    <img class="img-responsive" src="assets/img/news-thumb-6.jpg" alt="">
                                </figure>
                                <div class="details col-md-10 col-sm-9 col-xs-8">
                                    <h3 class="title"><a href=" ">Pellentesque sollicitudin leo non lacinia mattis</a></h3>
                                    <p>Morbi bibendum consectetuer, vulputate, sollicitudin, primis ullamcorper vulputate sed risus dis feugiat vel gravida, class enim Mus aliquam ut donec sodales bibendum rutrum dis sit rutrum id eleifend. Dapibus potenti.</p>
                                    <a class="btn btn-theme read-more" href=" ">Read more<i class="fa fa-chevron-right"></i></a>
                                </div>
                            </article><!--//news-item-->
                            <ul class="pagination">
                                <li class="disabled"><a href=" ">«</a></li>
                                <li class="active"><a href=" ">1<span class="sr-only">(current)</span></a></li>
                                <li><a href=" ">2</a></li>
                                <li><a href=" ">3</a></li>
                                <li><a href=" ">4</a></li>
                                <li><a href=" ">5</a></li>
                                <li><a href=" ">»</a></li>
                            </ul>

                        </div><!--//news-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                            <section class="widget has-divider">
                                <h3 class="title">Arcu Aliquet Quam Vel</h3>
                                <p>Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio. Aliquam fringilla justo quis est placerat, eu imperdiet lorem cursus. Curabitur pretium nulla lorem, sed egestas ante vestibulum dignissim.</p>
                            </section><!--//widget-->
                            <section class="widget has-divider">
                                <h3 class="title">Upcoming Events</h3>
                                <article class="events-item row page-row">
                                    <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                                        <p class="date-label">
                                            <span class="month">FEB</span>
                                            <span class="date-number">18</span>
                                        </p>
                                    </div><!--//date-label-wrapper-->
                                    <div class="details col-md-9 col-sm-8 col-xs-8">
                                        <h5 class="title">Open Day</h5>
                                        <p class="time text-muted">10:00am - 18:00pm<br>East Campus</p>
                                    </div><!--//details-->
                                </article>
                                <article class="events-item row page-row">
                                    <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                                        <p class="date-label">
                                            <span class="month">SEP</span>
                                            <span class="date-number">06</span>
                                        </p>
                                    </div><!--//date-label-wrapper-->
                                    <div class="details col-md-9 col-sm-8 col-xs-8">
                                        <h5 class="title">E-learning at College Green</h5>
                                        <p class="time text-muted">10:00am - 16:00pm<br>Learning Center</p>
                                    </div><!--//details-->
                                </article>
                                <article class="events-item row page-row">
                                    <div class="date-label-wrapper col-md-3 col-sm-4 col-xs-4">
                                        <p class="date-label">
                                            <span class="month">JUN</span>
                                            <span class="date-number">23</span>
                                        </p>
                                    </div><!--//date-label-wrapper-->
                                    <div class="details col-md-9 col-sm-8 col-xs-8">
                                        <h5 class="title">Career Fair</h5>
                                        <p class="time text-muted">09:45am - 16:00pm<br>Library</p>
                                    </div><!--//details-->
                                </article>
                            </section><!--//widget-->
                            <!--//widget-->
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page-->
        </div><!--//content-->


    </div><!--//wrapper-->
   
  <section data-ng-include=" 'Footer.html' "></section>