
<script src="app/assets/js/jquery-1.11.2.min.js"></script>
<div class="skin-blue">
    <section data-ng-include="'app/views/Admin/Header.html'"></section>
    <div >
        <section data-ng-include=" 'app/views/Admin/nav.html' "></section>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                   Add Course
                    <small>Control panel</small>
                </h1>

                <ol class="breadcrumb">
                    <li><a href="#/Admin/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"> Add Course</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12 connectedSortable">

                    </div><!-- /.col -->
                </div>

                <div class="form-box" id="login-box" style="width: 85%; margin: 37px auto 0 auto; ">

                    <form name="userForm" novalidate>
                        <div class="panel-body bg-gray">
                            <div class="form-group col-md-offset-3 col-md-6" ng-class="{ 'has-error': userForm.CourseName.$invalid && userForm.CourseName.$dirty }">
                                <input type="text" name="CourseName" class="form-control" ng-model="CourseData.CourseName" placeholder="Enter Course Name" required />
                            </div>

                            <div class="form-group col-md-offset-3 col-md-3">
                                <input class="form-control" placeholder="Course Duration" readonly />
                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': userForm.Duration.$invalid && userForm.Duration.$dirty }">
                                <select class="form-control" name="Duration" ng-model="CourseData.Duration" required>
                                    <option value="">---Select Duration---</option>
                                    <option value="1">1 Year</option>
                                    <option value="2">2 Year</option>
                                    <option value="3">3 Year</option>
                                    <option value="4">4 Year</option>
                                    <option value="5">5 Year</option>
                                </select>
                            </div>

                            <div class="form-group col-md-offset-3 col-md-6" ng-class="{ 'has-error': userForm.CourseFee.$invalid && userForm.CourseFee.$dirty }">
                                <input type="text" class="form-control" ng-model="CourseData.CourseFee" placeholder="Enter Course Fee" required/>
                            </div>

                            <div class="form-group col-md-offset-3 col-md-3" >
                                <input class="form-control" placeholder="Number Of Semester" readonly />
                            </div>
                            <div class="form-group col-md-3" ng-class="{ 'has-error': userForm.NumberOfsemester.$invalid && userForm.NumberOfsemester.$dirty }">
                                <select class="form-control" name="NumberOfsemester" ng-model="CourseData.NumberOfsemester">
                                    <option value="">---Select Semester---</option>
                                    <option value="1">1 Semester</option>
                                    <option value="2">2 Semester</option>
                                    <option value="3">3 Semester</option>
                                    <option value="4">4 Semester</option>
                                    <option value="5">5 Semester</option>
                                    <option value="6">6 Semester</option>
                                    <option value="7">7 Semester</option>
                                    <option value="8">8 Semester</option>
                                </select>
                            </div>
                        </div>
                        <div class="footer" style="height: 45px;">
                            <button type="submit" ng-click="AddCourse(CourseData)" ng-disabled="userForm.$invalid" class="btn bg-olive btn-block">Generate Course</button>
                        </div>
                    </form>

                </div>

                
            </section><!-- /.content -->
        </aside>



        
    </div>

    
</div>