<div class="skin-blue">
    <section data-ng-include="'app/views/StudentPanel/Header.html'"></section>

    <div class="">
        <!-- Left side column. contains the logo and sidebar -->
        <section data-ng-include="'app/views/StudentPanel/nav.html'"></section>


        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Change Your Password
                    <small>control</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active"> Change Password</li>
                </ol>
            </section>
            <!-- Main content -->
            <div class="form-box" id="login-box" style="width: 85%; margin: 44px auto 0 auto; ">

                <form>
                    <div class="body bg-gray" style="height: 222px;">
                        <div class="form-group col-md-offset-2 col-md-3">
                           <span>Enter Old Password</span>
                        </div>

                        <div class="form-group col-md-5">
                            <input type="password" class="form-control" ng-model="ChangePass.oldpassword" placeholder=" {{StudentData.Password}}" readonly />
                        </div>
                       
                        <div class="form-group col-md-offset-2 col-md-3">
                            <span>Enter New Password</span>
                        </div>

                        <div class="form-group col-md-5">
                            <input type="password" class="form-control" ng-model="ChangePass.newpass" placeholder="Password" />
                        </div>
                       
                        <div class="form-group col-md-offset-2 col-md-3">
                            <span>confirm New Password</span>
                        </div>
                        <div class="form-group col-md-5">
                            <input type="password" class="form-control" ng-model="ChangePass.confirmpass" placeholder="Password" />
                        </div>

                    </div>
                    <div class="footer" style="height: 44px;">
                        <button type="submit" ng-click="ChangePassData(ChangePass)" class="btn bg-olive btn-block">Save & Next</button>
                    </div>
                </form>

            </div>
        </aside>


    </div>



</div>