<div class="skin-blue">
    <section data-ng-include="'app/views/StudentPanel/Header.html'"></section>

    <div class="">
        <!-- Left side column. contains the logo and sidebar -->
        <section data-ng-include="'app/views/StudentPanel/nav.html'"></section>


        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Widgets
                    <small>Preview page</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Update Profile</li>
                </ol>
            </section>
            <!-- Main content -->     
            <div >
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload 10th Marksheet</strong> <small></small></div>
                    <div class="panel-body">
                    
                        <h4>Select files from your computer</h4>
                        <form>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload 12th Marksheet</strong> <small></small></div>
                    <div class="panel-body">

                        <h4>Select files from your computer</h4>
                        <form>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload Adhar Card</strong> <small></small></div>
                    <div class="panel-body">

                        <h4>Select files from your computer</h4>
                        <form>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Upload Domicile Certificate</strong> <small></small></div>
                    <div class="panel-body">

                        <h4>Select files from your computer</h4>
                        <form>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                                </div>
                               
                            </div>
                            <div ng-repeat="step in stepsModel">
                                <img style="width:225px" class="thumb" ng-src="{{step}}" />
                            </div>
                        </form>
                    </div>
                </div>



            </div> <!-- /container -->
        </aside>


    </div>



</div>